@* menubar Template File *@
@(param: String)

<div class="row">
		<nav class="nav navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="/">
        			<img alt="KnolX Session" src="...">
      				</a>
				</div>
			</div>
			<ul class="nav nav-tabs ">
				<li id="HomePage"><a href="/">Home</a></li>
				<li id="FAQ"><a href="#">FAQ's</a></li>
				<li id="About"><a href="#">About</a></li>
				<li id="Contact"><a href="/contact">Contact Us</a></li>
			</ul>
		</nav>	
</div>
